body {
    width: 800px;
    margin: auto;
}

#generator {
    float: right;
}

.people-box {
    display: inline-block;
    height: 50px;
    width: 100px;
}

.skill-box {
    height: 1.8em;
    width: 100px;
}
